<ion-header>
    <ion-toolbar>
       <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="Terug"></ion-back-button>
    </ion-buttons>
        <ion-title>
            Verzekeringen en aansprakelijkheid bij activiteiten
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <article>
        <h1>Voorzichtig en redelijk persoon</h1>
        <p>
          Het betekent dat je je gedraagt als een verantwoordelijk en redelijk persoon. Je neemt geen onnodige risico’s en probeert gevaar op voorhand in te schatten en te voorkomen
        </p>
    </article>
    <article>
        <h1>Organisatieplicht</h1>
        <p>
            Je hebt als leiding de wettelijke plicht om zoveel mogelijk gevaren te voorzien en uit te sluiten. Het betekent dat je bij de voorbereiding van een activiteit voldoende aandacht hebt voor mogelijke gevaren en concrete voorzorgen neemt. Als je gaat houthakken, moet je de jonggidsen aanleren hoe dat veilig kan, moet je ervoor zorgen dat de bijlen niet los aan de steel zitten, enzovoort.
            <br><br>Zorg dat voor alle leden een actuele individuele steekkaart is ingevuld en volg die informatie nauwkeurig op.
        </p>
    </article>
    <article>
        <h1>Toezichtsplicht</h1>
         <p>
            Je moet er als leiding actief op toezien dat leden zichzelf niet in gevaar brengen. Als verkenners met bijlen beginnen te spelen, ben je verplicht om in te grijpen. Als kapoenen in een boom willen klimmen, hou je een oogje in het zeil.
        </p>
    </article>
    <article>
        <h1>Verzekeringen</h1>
        <p>
            Als leiding van Scouts en Gidsen Vlaanderen is je burgerlijke aansprakelijkheid verzekerd voor schade die jezelf of de je toevertrouwde leden toebrengen aan anderen. Tenzij uit de feiten van een ongeluk blijkt dat je je niet aan de regels hebt gehouden. In dat geval bestaat de kans dat jij de kosten zelf zal moeten betalen.
        </p>
        <p>Aangifte van een ongeval of schade? <a href="https://www.scoutsengidsenvlaanderen.be/aangifte">scoutsengidsenvlaanderen.be/aangifte</a></p>
    </article>
    <article>
        <h1>Aansprakelijkheid</h1>
        <p>
            Organiseer nooit activiteiten die in strijd zijn met de wet en de regels van Scouts en Gidsen Vlaanderen. Zo voorkom je juridische moeilijkheden.
        </p>
    </article>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Meer info?</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>
                Meer informatie over verzekeringen en aansprakelijkheid lees je in de publicaties Goed verzekerd? en Aansprakelijkheid of op
                <a href="http://www.scoutsengidsenvlaanderen.be">scoutsengidsenvlaanderen.be</a>
            </p>
        </ion-card-content>
    </ion-card>
</ion-content>
